.light {
    font-weight: lighter;
}

.hero {
    background: url(../images/hero.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lead-hero {
    color: white;
    margin: -1pt;
    font-size: 125%;
}

.pull {
    padding-bottom: 2em;
}

.small-gold {
    color: rgb(244, 195, 85);
    font-size: 100%;
    font-weight: bold;
}

h1 {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

h1.hero {
    color: white;
}

h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.h2-lead {
    font-size: 2rem;
}

h3 {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

p {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

blockquote {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;

}

pre {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
